.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: #202124; /* Dark background color */
    color: white; /* White text color */
    width: 100vw; /* Full viewport width */
    height: 10vh; /* 10% of viewport height */
    display: flex;
    align-items: center;
    border-top: white 2px solid; /* White border on top */
    border-bottom: white 2px solid; /* White border on bottom */
    /* margin-top: 5vh; */
  }
  
  .marquee {
    display: flex;
    width: 200%; /* Double the width for seamless looping */
    animation: marquee 20s linear infinite;
  }
  
  .marquee-content {
    display: flex;
    width: 100%; /* Each set of items takes up 100% of the container width */
    justify-content: space-around; /* Space out the items evenly */
  }
  
  .marquee-item {
    display: inline-flex;
    align-items: center;
    font-size: 5vh; /* 50% of 10vh */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Media query for tablets */
  @media (max-width: 768px) {
    .marquee-container {
      height: 8vh; /* Slightly smaller height for tablets */
    }
  
    .marquee-item {
      font-size: 4vh; /* Smaller font size for tablets */
    }
  
    .marquee {
      animation: marquee 15s linear infinite; /* Faster animation for tablets */
    }
  }
  
  /* Media query for mobile devices */
  @media (max-width: 480px) {
    .marquee-container {
      height: 6vh; /* Smaller height for mobile devices */
    }
  
    .marquee-item {
      font-size: 3vh; /* Smaller font size for mobile devices */
    }
  
    .marquee {
      animation: marquee 10s linear infinite; /* Faster animation for mobile devices */
    }
  }
  