.contact-c {
  background-color: #202124;
  
}


.hollow-text {
  color: #202124;
  font-size: 50px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.923);
  font-weight: bold;

}

.move {
  transform: translateY(-20px);
  z-index: 2;
}

.move-2 {
  transform: translateY(-25px); ;
  
  z-index: 1;

}

.game-bg {
  background-image: url("../src/assets/dino-bg.png");
  background-size: cover;
}