@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Regular weight */
@font-face {
  font-family: 'Product-sans';
  src: url('./styles/fonts/Product-sans.ttf') format('truetype');
  font-weight: normal; /* 400 */
  font-style: normal;
}

/* Bold weight */
@font-face {
  font-family: 'Product-sans';
  src: url('./styles/fonts/Product-sans-bold.ttf') format('truetype');
  font-weight: bold; /* 700 */
  font-style: normal;
}

/* Italic style */
@font-face {
  font-family: 'Product-sans';
  src: url('./styles/fonts/Product-sans-italic.ttf') format('truetype');
  font-weight: normal; /* 400 */
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Product-sans';
  src: url('./styles/fonts/Product-sans-bold-italic.ttf') format('truetype');
  font-weight: bold; /* 700 */
  font-style: italic;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-size: 84px 84px;
  
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.508) 0.5px, transparent 0.5px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.508) 0.5px, transparent 0.5px);
  overflow-x: hidden;
  
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-size: 40px 40px;
  
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.508) 0.5px, transparent 0.5px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.508) 0.5px, transparent 0.5px);
  
}